# Исключаем временные файлы
__pycache__/
*.py[cod]
*.so

# Исключаем локальные переменные окружения
.env

# Исключаем сборки PyInstaller
/dist
/build

# Исключаем IDE-специфичные файлы
.idea/
.vscode/

# Исключаем скомпилированные ресурсы Qt
*.qrc
*_rc.py